[Unit]
Description=Exordos DB Orch API
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=exordos-db-orch-api --config-file /etc/exordos_db/exordos_db.conf

[Install]
WantedBy=multi-user.target
