[Unit]
Description=Exordos Db General Service
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
#ExecStart=gcl-looper-launchpad-service --config-file /etc/exordos_db/exordos_db.conf
ExecStart=exordos-db-gservice --config-file /etc/exordos_db/exordos_db.conf

[Install]
WantedBy=multi-user.target
