[Unit]
Description=Genesis Db General Service
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=genesis-db-gservice --config-file /etc/genesis_db/genesis_db.conf

[Install]
WantedBy=multi-user.target