[Unit]
Description=Genesis Core Agent Service
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5
ExecStart=genesis-universal-agent-db-back --config-file /etc/genesis_db/core_agent.conf

[Install]
WantedBy=multi-user.target
