[Unit]
Description=Genesis DB Orch API
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=genesis-db-orch-api --config-file /etc/genesis_db/genesis_db.conf

[Install]
WantedBy=multi-user.target
